<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido/a a <%= title %></h1>
    <p>El portal donde puedes crear tus juegos.</p>
    <a href="/quizes/question"> Comience a jugar</a>
  </body>
</html>