<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>El juego de las preguntas</h2>
    <form method="get" action="/quizes/answer">
    	<br> <%= respuesta %>
    	<a href="/quizes/question"> Inténtelo otra vez</a>
    </form>
  </body>
</html>